@use "../../abstracts/index"as *;

.ic-accordion-custom {
    position: relative;
    width: 16px;
    height: 16px;
    @include flex(center, center);
    transition: transform 0.35s linear;

    &::after,
    &::before {
        content: "";
        position: absolute;
        @include transition3;
    }

    &::before {
        height: 100%;
        width: 2px;
    }

    &::after {
        height: 2px;
        width: 100%;
    }
}

.accordion-action {
    @include flex(center, space-between);
    padding-top: 32px;
    padding-bottom: 0;
    margin-bottom: 24px;
    @include transition3;

    .icon {
        &::before {
            transform: rotate(90deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    &.collapsed {
        margin-bottom: 0px;
        padding-bottom: 32px;

        .icon {

            &::before {
                transform: rotate(0deg);
            }

            &::after {
                transform: rotate(0deg);
            }
        }
    }

    @include res(lg) {
        padding-top: 20px;

        &.collapsed {
            padding-bottom: 20px;
        }
    }
}

.faq-accordion_item-2 {
    padding-bottom: 36px;
    border-bottom: 1px solid var(--line-8);
    @include transition3;

    &.active {
        border-color: var(--primary);
    }

    &:not(:last-child) {
        margin-bottom: 36px;
    }

    .accordion-action {
        color: var(--primary);
        padding-top: 0;
        margin-bottom: 24px;

        &.collapsed {
            color: var(--color-2);
            padding-bottom: 0;
            margin-bottom: 0;

            .ic-accordion-custom {

                &::after,
                &::before {
                    background-color: var(--color-2);
                }
            }
        }

        .ic-accordion-custom {

            &::after,
            &::before {
                background-color: var(--primary);
            }
        }

        .text {
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }

    .faq-desc {
        color: var(--white-2);
        max-width: 472px;
        width: 100%;
    }

    @include res(xl) {
        padding-bottom: 20px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .accordion-action {
            margin-bottom: 18px;

            .text {
                gap: 8px;
            }
        }
    }
}

.store-accordion_item {
    .accordion-action {
        padding-top: 0;
        padding-bottom: 0;
        color: var(--black);
    }

    .ic-accordion-custom {
        width: 14px;
        height: 14px;

        &::after,
        &::before {
            background-color: var(--black);
        }
    }

    .info-store-content {
        .address {
            margin-bottom: 4px;
        }

        .phone {
            margin-bottom: 8px;
        }
    }
}

.store-accordion-list {
    display: grid;

    .store-accordion_item {
        &:not(:last-child) {
            padding-bottom: 19px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--line-7);
        }
    }
}

.static-accordion {
    --size--7rem: clamp(4rem, 3.142rem + 4.29vw, 7rem);
    .image {
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item {
        padding-top: 40px;
        padding-bottom: 40px;
        opacity: 0.3;
        @include transition3;

        &.is-active {
            opacity: 1;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @include res(lg) {
        padding: 0;

        .item {
            padding: 0;
            display: flex;
            gap: 30px;
            align-items: center;

            >* {
                width: 50%;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    @include res(sm) {
        .item {
            flex-direction: column;
            gap: 20px;
            opacity: 1;

            >* {
                width: 100%;
            }

            .image {
                img {
                    aspect-ratio: calc(4/3);
                }
            }
        }
    }
}

.static-accordion_item {
    padding-bottom: 31px;
    border-bottom: 1px solid var(--line-5);
    @include transition3;

    .static-label {
        margin-bottom: 16px;
    }

    .wg-counter {
        margin-bottom: 16px;
    }

    @include res(lg) {
        padding-bottom: 24px;
    }
}

.img-static-list {
    height: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    top: 15px;
    width: 100%;

    .img-static {
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
        overflow: hidden;
        opacity: 0;
        @include transition5;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.is-active {
            opacity: 1;
        }
    }
}

.accordion-title {
    .icon {
        @include transition3;
    }

    &:not(.collapsed) {
        .icon {
            transform: rotate(180deg);
        }
    }
}


.faq-accordion {
    display: grid;
    gap: 16px;
}

.faq-accordion_item {
    @include transition3;
    border-radius: 8px;

    .accordion-title {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;
        @include transition3;

        .text {
            @include transition3;
        }

        &:not(.collapsed) {
            padding-bottom: 28px;
            color: var(--primary);

            .text {
                color: var(--primary);
            }

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .faq-desc {
        padding: 24px;
        padding-top: 0;
    }

    &.active {
        background-color: var(--bg-15);
    }
}

.benefit-accordion {
    display: grid;
    gap: 8px;
}

.benefit-accordion_item {
    border-radius: 8px;
    background-color: var(--bg-2);

    .accordion-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 24px;
        border: 1px solid var(--line-2);
        background-color: var(--bg-5);
        border-radius: 8px;
        color: var(--white);

        .text {
            color: var(--white);
            @include transition3;
        }

        .icon {
            @include transition3;
        }

        .ic {

            &.type-stroke {
                svg {
                    path {
                        stroke: var(--white);
                    }
                }
            }

            &.type-fill {
                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }

        .text {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &:not(.collapsed) {
            color: var(--primary);

            .text {
                color: var(--primary);
            }

            .icon {
                transform: rotate(180deg);
            }

            .ic {
                &.type-stroke {
                    svg {
                        path {
                            stroke: var(--primary);
                        }
                    }
                }

                &.type-fill {
                    svg {
                        path {
                            fill: var(--primary);
                        }
                    }
                }
            }
        }
    }

    .benefit-desc {
        padding: 24px;
        padding-bottom: 34px;
    }

    @include res(xl) {

        .accordion-title,
        .benefit-desc {
            padding: 20px 16px;
        }
    }
}

.achivement-accordion_item {
    border-top: 1px solid var(--bg-14);

    .accordion-action {
        gap: 12px;
        justify-content: unset;
        display: grid;
        grid-template-columns: 432px 1fr auto;

        .name_achive {
            grid-column: 1;
        }

        .title_achive {
            grid-column: 2;
        }

        .date_achive {
            grid-column: 3;
        }
    }

    .accordion-content {
        padding-bottom: 32px;

        .text {
            margin-bottom: 20px;
        }
    }

    .tf-btn-stroke {
        border-color: var(--text-19);
        color: var(--gray-30);

        &:hover {
            background-color: var(--text-19);
        }
    }

    .group-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    @include res(sm, min) {
        .accordion-action {
            .date_achive {
                min-width: 105px;
            }
        }
    }

    @include res(md, min) {
        .accordion-action {
            .name_achive {
                padding-left: 20px;
            }

            .date_achive {
                padding-right: 20px;
            }
        }

        .accordion-content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @include res(xl, min) {
        .accordion-action {
            padding-top: 40px;

            &.collapsed {
                padding-bottom: 39px;
            }

            &:not(.collapsed) {
                margin-bottom: 23px;
            }
        }

        .accordion-content {
            padding-bottom: 40px;
        }
    }

    @include res(xxl, min) {
        .accordion-content {
            max-width: 432px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 40px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include res(xxl) {
        .accordion-action {
            grid-template-columns: 1fr 2fr auto;
        }
    }

    @include res(md) {
        .accordion-action {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .name_achive {
                width: 100%;
            }
        }
    }
}

.achivement-accordion_item-2 {
    background-color: var(--white);
    border-radius: 24px;

    .accordion-action {
        padding: 20px 15px;
        gap: 12px;
        margin-bottom: 0px;

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    .ic-wrap {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--line-10);
        @include flex(center, center);

        .icon {

            &::after,
            &::before {
                background-color: var(--gray-90);
            }
        }
    }

    .accordion-content {
        display: flex;
        gap: 20px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .content-right {
        .text {
            margin-bottom: 28px;
        }
    }

    .group-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .image-left {
        border-radius: 12px;
        overflow: hidden;
        max-width: 395px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(395/239);
        }
    }

    @include res(xl, min) {
        .accordion-action {
            padding-top: 48px;
            padding-left: 52px;
            padding-right: 40px;
            padding-bottom: 48px;

            .name_achive {
                min-width: 158px;
            }
        }

        .ic-wrap {
            width: 48px;
            height: 48px;
        }

        .accordion-content {
            gap: 49px;
            padding-bottom: 48px;
            max-width: 876px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include res(md) {
        .accordion-content {
            >* {
                width: 50%;
            }
        }
    }

    @include res(sm) {
        .accordion-action {
            flex-wrap: wrap;
        }

        .accordion-content {
            flex-wrap: wrap;

            >* {
                width: 100%;
            }
        }
    }
}

.faq-accordion_item-3 {
    background-color: var(--white);
    border-radius: 16px;
    position: relative;
    padding-right: 52px;

    .ic-wrap {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--line-10);
        @include flex(center, center);

        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        .icon {

            &::after,
            &::before {
                background-color: var(--gray-90);
            }
        }
    }

    .accordion-action {
        padding: 20px 15px;
        margin-bottom: 0;
    }

    .faq-desc {
        padding: 20px 15px;
        padding-top: 0;
    }

    @include res(lg, min) {
        .accordion-action {
            padding: 20px 24px;

            &.collapsed {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        .faq-desc {
            padding: 20px 24px;
            padding-top: 0;
        }
    }

    @include res(xl, min) {
        .ic-wrap {
            width: 48px;
            height: 48px;
            right: 24px;

        }
    }
}

.faq-accordion_item-4 {
    border-radius: 12px;
    background-color: var(--light-beige);
    padding-left: 40px;
    padding-right: 40px;

    .ic-accordion-custom {

        &::after,
        &::before {
            background-color: var(--black);
        }
    }

    .accordion-action {
        color: var(--primary);
        padding-bottom: 23px;
        border-bottom: 1px solid var(--gray-100);

        &.collapsed {
            color: var(--black);
            padding-bottom: 31px;
            border-color: transparent;
        }
    }

    .accordion-content {
        padding-bottom: 32px;
    }

    @include res(lg) {
        padding-left: 20px;
        padding-right: 20px;

        .accordion-action {
            padding-bottom: 19px;
            gap: 8px;

            .icon {
                flex-shrink: 0;
            }

            &:not(.collapsed) {
                margin-bottom: 20px;
            }

            &.collapsed {
                padding-bottom: 20px;
            }
        }

        .accordion-content {
            padding-bottom: 20px;
        }
    }
}

.business-faq-accordion {
    display: grid;
    gap: 12px;
}

.product-accordion {
    border-bottom: 1px solid var(--gray-20);

    .accordion-title:not(.collapsed) .icon {
        transform: rotate(90deg);
    }

    .accordion-title {
        display: flex;
        align-items: center;
        padding-top: 14px;
        padding-bottom: 13px;

        .icon {
            font-size: 14px;
        }

        .name-wrap {
            display: flex;
            gap: 16px;
            flex: 1;
        }
    }

    .accordion-body {
        padding-bottom: 14px;
    }
}

.faq-accordion_item-5 {

    border: 1px solid var(--gray-20);
    border-radius: 12px;

    .ic-accordion-custom {

        &::after,
        &::before {
            background-color: var(--gray-50);
        }
    }

    .accordion-action {
        padding: 19px 19px 19px;
        margin-bottom: 0;
        color: var(--gray-60);
        gap: 12px;

        &:not(.collapsed) {
            color: var(--primary);
        }
    }

    .accordion-content {
        padding: 1px 19px 19px;
        max-width: 757px;
    }
}

.faq-accordion_item-6 {
    background: var(--white);
    box-shadow:
        0px 1.4px 3.74px 0px #0000001A,
        0px 2.8px 6.54px 0px #0000000D,
        0px 14.49px 8.88px 0px #0000000D,
        0px 25.7px 10.28px 0px #00000003,
        0px 40.66px 11.22px 0px #00000000,
        0px 0.93px 0px 0px #DADADA;
    border-radius: 16px;

    .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        &:not(.collapsed) {
            color: var(--primary);
        }
    }

    .accordion-content {
        padding: 12px 20px 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1.5px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 20%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0) 100%);
            box-shadow: 0px 1px 0px 0px #FFFFFF99;
        }
    }
}

.faq-accordion_item-d6 {
    border: 1px solid var(--line-16);
    border-radius: 12px;
    padding-left: 40px;
    padding-right: 40px;

    .accordion-action {
        color: var(--primary);
        padding-top: 27px;

        &.collapsed {
            padding-bottom: 27px;
            color: var(--text-3);
        }

        &:not(.collapsed) {
            margin-bottom: 20px;

            .ic-wrap {
                .icon {

                    &::after,
                    &::before {
                        background-color: var(--primary);
                    }
                }
            }
        }
    }

    .ic-wrap {
        .icon {
            width: 14px;
            height: 14px;

            &::after,
            &::before {
                background-color: #121416;
            }
        }
    }

    .faq-desc {
        padding-bottom: 27px;
    }

    @include res(lg) {
        padding-left: 15px;
        padding-right: 15px;

        .accordion-action {
            padding-top: 20px;

            &.collapsed {
                padding-bottom: 20px;
            }
        }

        .faq-desc {
            padding-bottom: 20px;
        }
    }
}

.faq-d6 {
    display: grid;
    gap: 12px;
}