@use "../../abstracts/index"as *;

.preloader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preload-text {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary);
    display: flex;
    gap: 4px;
    font-family: $font-main;

    @include res(sm) {
        font-size: 36px;
    }
}

.letter {
    opacity: 0;
    transform: translateX(100%);
    animation: letterIn 0.3s ease forwards;
}

@keyframes letterIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.letter-out {
    animation: letterOut 0.3s ease forwards;
}

@keyframes letterOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
        visibility: hidden;
    }
}

.preloader-hidden {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}