@use "../../abstracts/index"as *;


.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0;
}

.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    position: absolute;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -17px;
    left: auto;
}

.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle:after {
    left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

[disabled] .noUi-connect {
    background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
    cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

.noUi-marker {
    position: absolute;
    background: #ccc;
}

.noUi-marker-sub {
    background: #aaa;
}

.noUi-marker-large {
    background: #aaa;
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

.noUi-horizontal {
    height: 4px;
}

.noUi-target {
    border: 0;
}

.noUi-base {
    .noUi-connects {
        border-radius: 999px;
        background-color: var(--line-7);
    }
}

.noUi-connect {
    background-color: var(--primary);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    height: 16px;
    width: 16px;
    border-radius: 0;
    border: 2px solid var(--primary);
    background-color: var(--white);
    box-shadow: unset;
    cursor: pointer;

    &::before,
    &::after {
        content: none;
    }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -8px;
}



.widget-facet {
    &:not(:last-child) {
        padding-bottom: 38px;
        border-bottom: 1px solid var(--line-7);
        margin-bottom: 43px;
    }


    .facet-title {
        @include flex(center, space-between);
        margin-bottom: 52px;
        @include transition3;
        color: var(--black);

        .icon {
            transform: rotate(0deg);
            @include transition3;
        }

        &.collapsed {
            margin-bottom: 0px;

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &.style-2 {
        &:not(:last-child) {
            margin-bottom: 30px;
            padding-bottom: 30px;
        }

        .facet-title {
            &:not(.collapsed) {
                margin-bottom: 30px;
            }
        }
    }
}

.filter-group-check {
    &.group-category {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: var(--text);
        }
    }

    .list-item {
        display: flex;
        gap: 15px;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

    }

    .label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;
        color: var(--black);
    }

    @include res(xl, min) {

        .list-item {
            gap: 16px;
        }
    }
}

.widget-price {
    display: grid;
    gap: 16px;

    .price-val-range {
        padding: 0px 8px;
        margin: 6px 0px;
    }

    .price-box,
    .box-value-price {
        display: flex;
        gap: 8px;
    }

    .price-box {
        color: var(--primary);
        align-items: center;
    }

    .price-val {
        color: var(--primary);
        position: relative;

        &::before {
            content: attr(data-currency);
        }
    }

    &.type-2 {
        .box-value-price {
            display: grid;
            gap: 24px;
        }

        .price-box {
            gap: 12px;
        }

        .price-val {
            min-width: 115px;
            border-radius: 8px;
            border: 1px solid var(--gray-70);
            height: 36px;
            padding: 8px 14px;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: var(--black);

            &::before {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid var(--gray-30);
                color: var(--gray-50);
            }
        }

        .noUi-horizontal .noUi-handle,
        .noUi-vertical .noUi-handle {
            width: 14px;
            height: 20px;
            border-radius: 4px;
            background-color: var(--primary);
            border: 0px;
        }

        .noUi-horizontal {
            height: 7px;
        }

        .noUi-connects {
            border-radius: 6px;
        }

        .price-val-range {
            margin: 7px 0px;
        }
    }

    @include res(xl, min) {
        gap: 17px;
    }
}



.tf-shop-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 28px;
    flex-wrap: wrap;

    .tf-control-sorting {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    @include res(xl, min) {
        margin-bottom: 40px;
    }
}

.wrapper-shop {
    gap: 20px;

    .wg-pagination {
        flex-direction: column;
        max-width: 549px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 44px;

        .text-count {
            margin-bottom: 13px;
        }

        .pag-bar {
            margin-bottom: 36px;
        }
    }

    @include res(sm) {
        gap: 20px 12px;
    }
}


.meta-filter-shop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    #applied-filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    .filter-tag,
    .remove-all-filters {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        gap: 8px;
        padding: 4px 14px;
        border-radius: 30px;
        color: var(--black);
        border: 1px solid var(--line);
        @include transition3;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        .icon {
            font-size: 16px;
        }

        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }

        @include res(sm) {
            gap: 6px;
            padding: 6px 12px;
        }
    }

    &.type-drop {
        margin-bottom: 20px;
    }
}

.pag-bar {
    height: 3px;
    position: relative;
    background-color: var(--line-11);

    span {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40%;
        background-color: var(--primary);
    }
}


.overlay-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    @include transition3;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.type-drawer {
        @include res(xl, min) {
            display: none;
        }
    }
}


.tf-btn-filter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid var(--line);
    border-radius: 999px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 16px;
    color: var(--black);
    margin-bottom: 30px;

    .icon {
        font-size: 24px;
    }

    &:hover {
        border-color: var(--black);
    }

    &.active {
        background-color: var(--black);
        border-color: var(--black);
        color: var(--white);
    }

    @include res(xl, min) {
        gap: 8px;
        min-width: 180px;
        padding: 15px;
    }
}

.box-your-order {}

.list-order-product {
    display: grid;
    gap: 20px;

    .order-item {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .info-and-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .name {
            margin-bottom: 8px;
        }

        .info-prd {
            display: grid;
        }
    }

    .img-prd {
        position: relative;

        .number-count {
            position: absolute;
            top: -8px;
            right: -8px;
            width: 20px;
            height: 20px;
            display: block;
            @include flex(center, center);
            background-color: var(--black);
            color: var(--white);
        }

        .image {
            box-shadow: 0px 2px 12px 0px #00000029;
            border: 1px solid var(--black-20);

            img {
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }
}

.list-total {
    display: grid;
    gap: 16px;

    .total-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .total-sub {
        display: flex;
        align-items: center;
        gap: 8px;

        .dot-square {
            background-color: var(--dark-90);
            width: 4px;
            height: 4px;
        }
    }

    .last-total {
        margin-top: 4px;

        .price {
            display: flex;
            align-items: end;
            gap: 8px;
        }
    }
}

.box-your-order {
    display: grid;
    gap: 32px;

    @include res(md) {
        gap: 28px;
    }
}


.tf-mini-cart-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 48px;

    &:not(:last-child) {
        border-bottom: 1px solid var(--black-10);
    }

    .tf-mini-cart-image {
        img {
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    .tf-mini-cart-info {
        flex: 1;
    }

    .tf-mini-cart-info {
        display: grid;
        padding-top: 8px;
    }

    .prd-name {
        margin-bottom: 8px;
    }

    .type-select {
        margin-bottom: 12px;
    }

    .price-wrap {
        margin-bottom: 8px;
    }

    @include res(md, min) {
        .remove {
            font-size: 24px;
        }
    }
}