

/* literata-500 - latin */
@font-face {
  font-family: "Literata";
  src:
    url("../fonts/Literata-SemiBold.woff2") format("woff2"),
    url("../fonts/Literata-SemiBold.woff") format("woff"),
    url("../fonts/Literata-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Literata";
  src:
    url("../fonts/Literata-Bold.woff2") format("woff2"),
    url("../fonts/Literata-Bold.woff") format("woff"),
    url("../fonts/Literata-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Literata";
  src:
    url("../fonts/Literata-ExtraBold.woff2") format("woff2"),
    url("../fonts/Literata-ExtraBold.woff") format("woff"),
    url("../fonts/Literata-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

/* mulish-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/mulish-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mulish-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  font-family: "Mulish";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Literata" !important;
  color: #060e0d !important;
}
:root {
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --primary:#0E47A1;
    --secondary:#E4F2FD;
    --white:#fff;
    --font-body:"Mulish";
    --font-head:"Literata";
}
/* .sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background:#fff;
  z-index: 9;
}

.sticky + .content {
  padding-top: 102px;
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-body) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: rgb(255 250 243) !important;
  transition: 0.35s;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-head);
  color: #060e0d;
}
p, ul {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight:400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6D6D6D;
}
ul, li{
  font-family: var(--font-body);
}
a {
  font-family: var(--font-body);
}
 
 
 
 
 
 
 
 
 
 /* Custom animation for the image section */
 .fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Custom styling for background, text, and spacing */
.hero-section {
  background-color: #f4f4f4;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feature-icons img {
  width: 80px;
    height: 80px;
    margin: 15px;
    object-fit: cover;
}

.feature-icons p {
  margin-top: 8px;
  color: #fff;
  text-align: center;
  font-weight: 400 !important;
}

.bg-dark-gray {
  background-color: #09302a;
}
section.hero-section {
  background: #EFF0EA;
  padding: 70px 0px;
}
a.navbar-brand img {
  /* width: 50%; */
}
a.nav-link {
  color: #060e0d;
  margin-left: 10px;
}
.hero-section h1 {
  line-height: 1.1;
  font-size: 50px;
  font-weight: 700;
  font-family: var(--font-head);
}
.hero-section h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 1rem;
  color: #212529 !important;
}
p.text-secondary {
  font-size: 20px;
  max-width: 600px;
  font-weight: 300;
  color: #1a1a1a !important;
  padding-top: 20px;
  line-height: 34px;
}
p.menu-icon {
  padding-left: 22px;
  font-size: 20px;
  color: #000;
}
.hero-des {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****************product section css*************/
section.popular-sec {
  position: relative;
  padding: 60px 0px;
}
.bg-img-one{

  position: absolute;
  top: 0;
  width: 200px;
}
.bg-img-two{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;

}
.section_header {
  margin-bottom: 2rem;
  text-align: center;
}
.section_header h2 {
  font-size: 30px;
  font-weight: 700 !important;
  line-height: 1.1;
}
img.heading_image {
  margin: 1rem auto;
  width: 120px;
}
.category_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 2.5rem 0rem 0rem 0rem;
}

.category_card .category_image_animation {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_card .image_1_bg {
  position: absolute;
  top: 135px;
  z-index: -1;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transition: all 0.9s ease;
}
.categories_card_main {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
/* Hover state for slight upward movement */
.category_card:hover .image_1_bg {
  top: 80px; /* Move the circle slightly up */
  transition: top 1s ease, height 0.5s ease 0.3s, width 0.5s ease 0.3s, border-radius 0.5s ease 0.3s; /* Delayed transition for expansion */
}

/* Expansion state after upward movement */
.category_card:hover .image_1_bg {
  height: calc(100% - 60px); /* Stops just before the h4 element */
  width: 100%;
  border-radius: 10px;
  top: 0;
}

.category_card img {
  height: 330px;
  width: 300px;
  margin: auto;
  object-fit: contain;
  z-index: 1;
}

@media screen and (max-width: 500px){
  .category_card {
    overflow: inherit;
  }
}

@media screen and (max-width: 360px){
  .category_card .image_1_bg,
  .category_card .image_2_bg,
  .category_card .image_3_bg {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 700px) {
  img {
      max-width: min(var(--image-max-width, 100%), 100%);
  }
}
.category_card h4 {
  margin-top: 8rem;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 29px;
  color: #000;
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 400;
}
:focus:not(:focus-visible) {
  outline: none;
}
a {
  text-decoration: none !important;
}


/************strip section css*****************/
.promo-card {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.promo-content {
  background-color: hsl(0deg 0% 0% / 0%);
  padding: 80px 130px;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.promo-content h3 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--font-body);
  line-height: 1.3;
}

.promo-content h2 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: var(--font-body);
}

.promo-content p {
  font-size: 20px;
    font-weight: 200;
    color: #fff;
    line-height: 34px;
}
section.strip-sec {
  padding: 30px 0px;
}
.promo-content button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 25%;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.promo-content button:hover {
  background-color: white;
  color: black;
}
.promo-card:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .promo-container {
      flex-direction: column;
      align-items: center;
  }

  .promo-card {
      height: 250px;
  }

  .promo-content h2 {
      font-size: 1.2rem;
  }
}
/*******************best product section css**************/
.product-card {
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
}
.product-image {
  position: relative;
}
.product-image img {

    width: 350px;
    height: 380px;
    object-fit: contain;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.product-details {
  padding: 15px;
}
.product-title {
  font-size: 19px;
  font-weight: 500;
  margin: 10px 0;
  font-family: var(--font-body);
  /* line-height: 32px; */
  color: #060e0d;
}
.product-price {
  font-size: 1rem;
  color: #555;
  padding-bottom: 10px;
}
.product-details p {
  text-align: center;
  font-weight: 400;
  margin-bottom: 3px;
}
.product-price del {
  color: #dc3545;
  margin-right: 5px;
  text-decoration: line-through;
}
.product-price span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.btn-view-all {
  margin-top: 20px;
}
.zoom_image, .bf-af-img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Adds transition to the transform property */

}


.zoom_image {
  transform: scale(1.1) !important;
  transform-origin: center;
}
.zoom_image:hover {
  transform: scale(1.2) !important;
  transform-origin: center;
}
.product-image {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
span.discount-badge {
  pointer-events: none;
  z-index: 5;
  display: grid;
  position: absolute;
  top: 16px;
  padding-block-start: 9px;
  padding-block-end: 9px;
  padding-right: 10px;
  padding-left: 10px;
}
svg.rating__star.icon.icon-rating-star {
  color: orange;
  margin-right: 5px;
}
.product-rating {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-body);
  letter-spacing: 0.5px;
}
button.btn.btn-dark.mt-2 {
  position: relative;
  overflow: hidden;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    background-color: #0E302A;

        
   
}
button.btn.btn-dark.mt-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s ease, opacity .4s ease;
  gap: 5px;
}
button.btn.btn-dark.mt-2:hover div svg {
  transform: translate(40%);
  transform: scale(1.5) !important;
}
button.btn.btn-dark.mt-2 div:hover .button-text {
  opacity: 0; /* Hide text on hover */
}
button.btn.btn-dark.mt-2 div:hover {
  /* background-color: #0E302A;  */
  background-color:#0E302A;
}
button.btn.btn-dark.mt-2:hover div {
  transform: translateX(40%); /* Move SVG to center vertically */
}
button.btn.btn-dark.mt-2 div svg {
  transition: transform 0.4s ease; /* Smooth transition for SVG */
}
.bestproduct-sec {
  padding: 30px 0px;
}
button.btn.btn-dark {
  /* margin-top: 3rem; */
  padding: 10px 30px;
  border-radius: 4px;
  padding: 0.6rem 2.5rem;
  margin-top: 1rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 18px;
  color: #000;
 

}

.btn-view-all {
  margin-top: 3rem !important;
}
.btn:hover .button-text {
  opacity: 0;
}

/******************grid section css**************/
.collect-item {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}
.img-wrapper {
  overflow: hidden;
  width: 100%;
}
.collect-item img {
  width: 100%;
  height: auto;
}
.collect-text-right {
  right: 10%;
}
.collect-text-right, .collect-text-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 5px;
}
.collect-text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-body);
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}
.collect-text a {
  display: inline-block;
  margin-top: 5px;
  color: #000;
  position: relative;
  text-decoration: none;
  font-weight: 300;
}
.collect-text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: black;
}
.patchy_hairloss_image {
  aspect-ratio: 7 / 9;
}
section.hair-care-collect {
  padding: 30px 0px;
}
section.hair-care-collect .container-fluid ,section.strip-sec .container-fluid{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}


/************journey section css***************/
.plan{
  font-size: 28px;
  font-weight: 400;
}

.plan-para{
  padding: 20px;
}

.main-step{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:50px;
}

.one {
  width: 460px;
  height: auto;
  border-radius: 20px;
}
.jou-des {
  display: flex;
  align-items: center;
  justify-content: center; 
}
      
.icon-test{
  width: 50px !important;
  height: auto;
  margin-bottom: 1rem;
}

.jou-plan-para{
  display: flex;
  flex-direction: column;
  width: 280px;
}

.Ellipse{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: absolute;
  top: -80px;
}

.main-para{
  position: absolute;
  left: 20px;
  line-height: 20px;
  width: 200px;
}

.testimonials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width:1024px){
  .para-step{
    font-size:15px;
  }

  .plan{
    font-size:25px;
  }

  .plan-para{
    padding:30px;
  }
  
  .one {
    width: 320px;
  }
  
  .icon-test{
    width: 55px;
    height: auto;
  }
  
  .jou-plan-para{
    display: flex;
    flex-direction: column;
    width: 240px;
  }

}
  
@media screen and (max-width:768px){
  .main-step {
    flex-wrap:wrap;
  }
  
  .para-step{
    font-size:15px;
  }
  
  .plan{
    font-size:25px;
  }
  
 .plan-para{
     padding:20px;
  }
  
  .one {
    width: 250px;
  }
  
  .jou-plan-para{
    display: flex;
    flex-direction: column;
    width: 240px;
  }
}

@media screen and (max-width:426px){
  .main-step {
    flex-wrap:wrap;
  }
  
  .para-step{
    font-size:15px;
  }
  
  .plan{
    font-size:25px;
  }
  
  .plan-para{
    padding:20px;
  }
  
  .one {
    width: 250px;
  }
  
  .jou-plan-para{
    display: flex;
    flex-direction: column;
    width: 240px;
  }
}

@media screen and (max-width:376px){
  .plan-para{
     padding:20px;
  }
  
  .plan1{
    font-size:18px;
  }
}

@media screen and (max-width:321px){
  .plan-para{
     padding:40px;
  }
}

section.journey-sevice {
  padding: 30px 0px;
}
.jou-shine {
  position: relative;
  overflow: hidden;
}
  
.jou-shine::before {
   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
   /* background: white; */
   content: "";
   display: block;
   height: 100%;
   left: -75%;
   position: absolute;
   top: 0;
   transform: skewX(-25deg);
   width: 10%;
   z-index: 2;
   animation: shine 2s infinite;
}
  
@keyframes shine {
   100% {
     left: 125%;
  }
}

/************2nd strip section css**********/
.strip-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  background-image: url(../images/2nd-strip.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
}

.stripbanner-overlay {
  background-color: hsl(0deg 0% 0% / 0%);
  padding: 80px 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stripbanner-text h3 {
  font-size: 24px;
  font-family: var(--font-body);
  color: #000;
  line-height: 40px;
}
.stripbanner-text p {
  font-weight: 300;
  font-size: 18px;
}
/* .strip-banner:hover {
  transform: scale(1.1) !important;
} */
section.\32 nd-strip {
  padding: 60px 0px;
}

/**************image section css**************/
.row.image-ret {
  margin-top: 50px;
}
.image-des h3 {
  font-family: var(--font-body);
  font-size: 22px;
  font-weight: 400;
}


/*************testimonial section css**************/
.testimonials_section{
  padding: 60px 20px;
}



.one1{
  width: 420px;
  height: auto;
  border-radius: 20px;
}



.icon-main122{
  display: flex;
  flex-direction: column;
  width: 280px;
}

.Ellipse{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 137px;
  position: absolute;
  top: -110px;
  transform: translateY(5%)
}

.Ellipse .reviewer_name{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 35px; 
}

.main-para{
  position: absolute;
  left: 20px;
  line-height: 20px;
  width: 220px;
}

.main-para img{
  margin-bottom: 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
section.image-sec {
  padding: 40px 0px;
  position: relative;
}
span {
  font-family: 'Lexend' !important;
  /* background-color: #edefe2 ; */
 
}



@media screen and (max-width: 1024px){
  .one1{
    width: 300px;
    height: auto;
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px){
  .Ellipse {
    position: absolute;
    top: -83px;
  }

  .main-para {
    position: absolute;
    left: 35px;
  }
}

@media screen and (max-width: 380px){
  .Ellipse {
    position: absolute;
    top: -80px;
    gap: 112px;
  }


  .main-para {
    position: absolute;
    left: 35px;
  }
}

@media screen and (max-width: 350px){
  .Ellipse {
    position: absolute;
    top: -73px;
    gap: 110px;
  }

  .main-para {
    position: absolute;
    left: 40px;
  }
}

/***********feed section css*************/
.image-container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(230 230 230 / 65%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s ease;
  color: #fff;
  font-size: 2rem;
}
.image-container .overlay svg {
  transform: scale(0) rotate(0deg);
  transition: transform 0.6s ease;
}
.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover .overlay svg {
  transform: scale(1.2) rotate(360deg);
}
section.feed-sec {
  padding: 60px 0px;
}

/************follow section css************/
section.news-sec {
  background-image: url(../images/new-letter.webp);
  background-size: cover;
  color: white;
  padding: 70px 0;
}
.social img {
  font-size: 24px;
  margin: 0 10px;
  color: white;
}
.subscribe-input {
  background-color: white;
  border-radius: 0;
}
section.news-sec p {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: var(--font-body);
  letter-spacing: 0.5px;
}
section.news-sec h5 {
  font-family: var(--font-body);
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
  color:#fff !important;
}
h5.product-title a {
  color: #060e0d ;
}
p.menu-icon a {
  font-size: 20px;
  color: #060e0d;
}
input.form-control.subscribe-input.me {
  padding: 14px;
  align-items: center;
  justify-content: center;
  width: 60%;
  border-radius: 5px 0px 0px 5px;
  border-right: 2px solid #000;
}
form.d-flex {
  justify-content: center;
  margin-top: 20px;
}
button.btn.btn-outline-light {
  background: #fff;
  padding: 14px 30px;
  color: #595c5f;
  border-radius: 0px 5px 5px 0px;
}
.footer-divider {
  border-left: 1px solid #b8b8b8;
  height: 100px;
  height: 200px;
  width: 1px;
  background: #b8b8b8;
}

/***************shipping  section css***************/
section.shipping-sec {
  padding: 30px 0px;
}
.ship-des h4 {
  font-family: var(--font-body);
  font-weight: 400;
  padding-top: 30px;
  letter-spacing: 0.5px;
}
.ship-des p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

/****************footer section css***************/
section.footer-sec {
  background: #0E302A;
  padding: 60px 0px;
margin-top:50px;
}

.contact-info i {
  color: #fff;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
}
.contact-info p {
  color: #fff;
}
.contact-info img {
  padding-bottom: 15px;
}
section.footer-sec h6 {
  color: #fff !important;
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 20px;
}
ul.list-unstyled li a {
  color: #fff !important;
  font-weight: 300;
  letter-spacing: 0.6px;
}
ul.list-unstyled li {
  padding-bottom: 5px;
}
ul.list-unstyled li a i {
  padding-right: 10px;
}
section.copy-sec {
  background: #444631;
  color: #fff;
  text-align: center;
  padding-bottom: 110px;
}
p.copyright {
  text-align: center;
  color: #fff;
}
p.btn.btn-dark.mt-3 a {
 
  color: #fff !important;
   
}
p.btn.btn-dark.mt-3:hover a {
  color: #fff !important;
}

.btn-dark{
   background: #fff;
  
   
}
.btn-dark:hover{
   background: #09302a;
   color:#fff !important ;
}


.copy-sec hr{
  color: #fff;
  margin: 1px;
}














@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1620px !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      margin-right: auto;
      /* margin-left: 0px !important; */
  }
}


/* about sec start */

.about-sec {
  background-image: url(../images/sec-4-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 493px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;
  padding: 0 60px 60px;
}


@media(max-width:767px){
	.about-sec {
  background-image: url(../images/sec-4-1.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 493px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;
  padding: 0 60px 60px;
}

}

.abt-head {
  font-size: 24px;
  font-weight: 600;
  font-family: Montserrat;
  color: #444631;

}

.abt-para {
  color: #FFF;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  max-width: 600px;

}
/* about sec end */








  /* new */
.group-child {
  position: absolute;
  top: 86%;
  left: 52px;
  border-radius: 0px 29.59px 29.59px 0px;
  background-color: #030606;
  width: 52px;
  height: 318.3px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.component-57-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 377px;
  height: 430px;
}

.component-57 {
  width: 100%;
  position: relative;
  height: 430px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-family: Lexend;
}

.group-inner {
  position: absolute;
  top: 78px;
  left: 0px;
  border-radius: 0px 53.79px 53.79px 0px;
  background-color: #444631;
  z-index: 1;
  width: 52px;
  height: 267.2px;
}

.step-1 {
  position: absolute;
  top: 60.47%;
  left: 1.86%;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}

.component-content {
  position: absolute;
  top: 1%;
  /* height: 350px; */
  margin-left: 25px;
  padding: 0 0 0 40px;

  border-radius: 45px;
/* background-color: #ede8d0; */
background-color: #edefe1;

height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component-57-wrap {
  position: relative;
  
}

@media(max-width:767px){
  .component-57-inner {
   
    width: 360px;
   
  }
  .component-57-wrap{
    margin-bottom: 20px;
  }
  .about-sec {
    padding: 0 20px 50px;
  }
  .stripbanner-overlay{
    padding: 0 20px;
  }
}
.head-start{
  height: 30px;
  background-color: #0E302A;
  position: relative;
  z-index: 2;
}
.navbar-expand-lg .navbar-collapse {

  align-items: baseline;
}
.bg-img-three{
  position: absolute;
  right: 0;
  left: 0;
  width: 150px;
}

.navbar .container, .bread-creams, .drop-sec, .bestproduct-sec, .details-sec, .related-sec, .customer-sec, .cart-sec, .check-sec {

  margin: 0 60px;
}

@media(max-width:767px){
  .navbar .container, .bread-creams, .drop-sec, .bestproduct-sec, .details-sec, .related-sec, .customer-sec, .cart-sec, .check-sec {

    margin: 0 ;
  }
}

/* .navbar {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar_scrolled {
  position: fixed !important;
  animation-name: fadeInUp;
  animation-duration: 1s;
  width: 100%;
  opacity: 1;
} */
 .navbar{
  position: relative;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 }

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.cart-count {
    position: relative;
    top: -12px;
    right: 4px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 50%;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) 
{
.nav-icon{
    display: flex;
    justify-content: start;
    align-items: center;
}
}
.thank-content{
   text-align:center;
}
.thank-gif{
 display: flex;
    justify-content: center;
    align-items: center;
   
}
.thank-gif img{

    height: 250px;
    width: 325px;

}
@media (max-width: 768px) 
{
.thank-gif img{

    height: 150px;
    width: 225px;
}
.thank-content {
    padding: 0px 20px;
}
.thank-content h1{
   font-size:20px;
}
}
.shipping-sec .col-lg-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Overlay loader styles */
        #loader-overlay {
            position: fixed;
            top: 0; left: 0; width: 100%; height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: flex; align-items: center; justify-content: center;
            z-index: 9999;
        }
        
        .spinner {
            width: 50px; height: 50px;
            border: 5px solid #fff; 
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    .topbanner{
          margin-top: 3rem !important;
        }
        @media (max-width: 779px) {
   .topbanner{
          margin-top: 2rem;
        }
}



.icon-div{
  width: 50px !important;
    height: auto;
    margin-bottom: 1rem;
}
.testimonial-card{
      background: beige;
    padding: 0px 23px;
    border-radius: 13px;
}

