@use "../../abstracts/index"as *;

.tf-grid-layout {
    display: grid;
    column-gap: 24px;
    row-gap: 32px;

    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .wd-full {
        grid-column: 1 / -1;
    }

    .wd-2-cols {
        grid-column: span 2;
    }

    @include res(ssm, min) {
        &.ssm-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.ssm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.ssm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.ssm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.ssm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.ssm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(sm, min) {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(md, min) {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(lg, min) {
        row-gap: 48px; //

        &.lg-col-1 {
            grid-template-columns: 1fr;
        }

        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(xl, min) {
        row-gap: 64px; //
        // column-gap: 64px; //

        &.row-xl-gap-40 {
            row-gap: 40px;
        }

        &.row-xl-gap-56 {
            row-gap: 56px;
        }

        &.xl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(xxl, min) {
        &.xxl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xxl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xxl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xxl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xxl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xxl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

.row {
    margin-right: -16px;
    margin-left: -16px;

    >* {
        padding-left: 16px;
        padding-right: 16px;
    }

    @include res(xl, min) {
        margin-right: -24px;
        margin-left: -24px;

        >* {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
    width: 1304px;
    max-width: 100%;

    .row {
        margin-left: -12px !important;
        margin-right: -12px !important;

        >* {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }
}

.container-2 {
    padding-right: 10px;
    padding-left: 10px;
    width: 1364px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -10px !important;
        margin-right: -10px !important;

        >* {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.container-3 {
    padding-right: 15px;
    padding-left: 15px;
    width: 1350px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -6px !important;
        margin-right: -6px !important;

        >* {
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }
}

.container-4 {
    padding-right: 15px;
    padding-left: 15px;
    width: 1326px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -12px !important;
        margin-right: -12px !important;

        >* {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
    }
}

.container-5 {
    padding-right: 15px;
    padding-left: 15px;
    width: 1342px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -10px !important;
        margin-right: -10px !important;

        >* {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.container-6 {
    padding-right: 15px;
    padding-left: 15px;
    width: 1350px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -10px !important;
        margin-right: -10px !important;

        >* {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.container-1288 {
    padding-right: 10px;
    padding-left: 10px;
    width: 1308px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    .row {
        margin-left: -10px !important;
        margin-right: -10px !important;

        >* {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.container-layout-right {
    width: calc(100vw - (100vw - 1350px) / 2);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-layout-left {
    width: calc(100vw - (100vw - 1548px) / 2 - 4px);
    margin-left: unset;
    max-width: 100%;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-wrap {
    max-width: 1416px;
    margin: 0 auto;
    background: var(--black);
    border-radius: 24px;
}

.container-full {
    padding-left: 28px;
    padding-right: 28px;

    @include res(xl) {
        padding-left: 15px;
        padding-right: 15px;
    }
}